# Ignore everything in this directory
*~
*.o
*.o.d
*.gcov
bin/
build*/
cmake-build-debug
docs/doxygen
docs/sphinx
_build/
api/
doxyoutput/


.ipynb_checkpoints

test/build
test/bin
output.txt
Doxyfile
apidoc_warning_logfile.txt
third-party/distros/gmp-6.1.1
third-party/distros/gmp-6.1.2
third-party/distros/ntl-10.3.0
third-party/distros/ntl-10.5.0
third-party/include/NTL
third-party/include/gmp.h
third-party/lib
third-party/share
**/gmp-*
**/ntl-*
timing/
gmon.out
## .gitattributes
# Except this file
!.gitignore

.idea
*/**/*.gch
*.a
*.class

## for the moment
.cproject
.metadata/
.project
.settings/
RemoteSystemTempFiles/
.classpath
.externalToolBuilders/
/Default/

.DS_Store

# Ignore intellij project files/cmake files
# CMakeLists.txt
.idea/

src/circuit/lib/scan.cpp
src/circuit/lib/parse.cpp
src/circuit/lib/parse.hpp
src/circuit/lib/*.hh

# vagrant output
.vagrant/
*.log

# gtest output files
test_detail.xml

# Visual Studio Code
.vscode
