name: Manual

# the workflow_call block was added to this manual workflow (on workflow_dispatch:) because
# it has to be included if a reuseable workflow is called.
# The changes from the workflow_dispatch inputs to the workflow_call inputs are:
# - "type: choice" is replaced with "type: string"
# - all "options:" are removed
# The variable/tag for the runner (var.RUNNER) is defined on the "Actions secrets and variables" page, tab "Variables":
# https://github.com/openfheorg/openfhe-development/settings/variables/actions
on:
  workflow_call:
    inputs:
      compiler:
        description: 'Compiler type'
        type: string
        required: true
        default: 'CLANG-14'
      native_backend:
        description: 'Size of NativeInteger'
        type: string
        required: true
        default: '64'
      mb2_jobs:
        description: 'MATHBACKEND2 jobs'
        type: string
        required: true
        default: 'none'
      mb4_jobs:
        description: 'MATHBACKEND4 jobs'
        type: string
        required: true
        default: 'none'
      mb6_jobs:
        description: 'MATHBACKEND6 jobs'
        type: string
        required: true
        default: 'none'
  
  workflow_dispatch:
    inputs:
      # # Selects the compiler to use, this choice will be used in the COMPILERS_MAP as the key to
      # # retrieve the corresponding cmake compiler options to pass to the action
      compiler:
        description: 'Compiler type'
        type: choice
        options:
        - 'GCC-9'
        - 'GCC-10'
        - 'GCC-11'
        - 'GCC-12'
        - 'CLANG-12 (WITH_OPENMP=OFF)'
        - 'CLANG-13 (WITH_OPENMP=OFF)'
        - 'CLANG-14'
        - 'CLANG-15 (WITH_OPENMP=OFF)'
        required: true
        default: 'CLANG-14'
      native_backend:
        description: 'Size of NativeInteger'
        type: choice
        options:
        - '32'
        - '64'
        - '128'
        - 'all'
        required: true
        default: '64'
      mb2_jobs:
        description: 'MATHBACKEND2 jobs'
        type: choice
        options:
        - 'mb2'
        - 'mb2_tcm'
        - 'mb2_debug'
        - 'all'
        - 'none'
        required: true
        default: 'none'
      mb4_jobs:
        description: 'MATHBACKEND4 jobs'
        type: choice
        options:
        - 'mb4'
        - 'mb4_tcm'
        - 'mb4_debug'
        - 'all'
        - 'none'
        required: true
        default: 'none'
      mb6_jobs:
        description: 'MATHBACKEND6 jobs'
        type: choice
        options:
        - 'mb6_ntl'
        - 'mb6_ntl_tcm'
        - 'mb6_ntl_debug_tcm'
        - 'all'
        - 'none'
        required: true
        default: 'none'

jobs:
  call:
    uses: openfheorg/openfhe-development/.github/workflows/generic_workflow.yml@github-ci
    with:
      runner: ${{ vars.RUNNER }}
      compiler: "${{ inputs.compiler }}"
      native_backend: "${{ inputs.native_backend }}"
      mb2_jobs: "${{ inputs.mb2_jobs }}"
      mb4_jobs: "${{ inputs.mb4_jobs }}"
      mb6_jobs: "${{ inputs.mb6_jobs }}"
      # cmake_args_map holds job specific additional cmake options. compiler flags, native_backend flag and
      # OpenMP flag are set in generic_workflow.yml
      cmake_args_map: '{
                  "default"           : "-DBUILD_EXTRAS=ON",
                  "mb2"               : "-DBUILD_EXTRAS=ON -DMATHBACKEND=2",
                  "mb2_tcm"           : "-DBUILD_EXTRAS=ON -DMATHBACKEND=2 -DWITH_TCM=ON",
                  "mb2_debug"         : "-DBUILD_EXTRAS=ON -DMATHBACKEND=2 -DCMAKE_BUILD_TYPE=Debug",
                  "mb4"               : "-DBUILD_EXTRAS=ON -DMATHBACKEND=4",
                  "mb4_tcm"           : "-DBUILD_EXTRAS=ON -DMATHBACKEND=4 -DWITH_TCM=ON",
                  "mb4_debug"         : "-DBUILD_EXTRAS=ON -DMATHBACKEND=4 -DCMAKE_BUILD_TYPE=Debug",
                  "mb6_ntl"           : "-DBUILD_EXTRAS=ON -DMATHBACKEND=6 -DWITH_NTL=ON",
                  "mb6_ntl_tcm"       : "-DBUILD_EXTRAS=ON -DMATHBACKEND=6 -DWITH_NTL=ON -DWITH_TCM=ON",
                  "mb6_ntl_debug_tcm" : "-DBUILD_EXTRAS=ON -DMATHBACKEND=6 -DWITH_NTL=ON -DWITH_TCM=ON -DCMAKE_BUILD_TYPE=Debug",
                }'
      

